sphinx
sphinx-rtd-theme
sphinx_autodoc_typehints
myst-parser
sphinx_markdown_tables
sphinx-copybutton
sphinxcontrib-mermaid
sphinx-panels
sphinx-design
sphinx-tabs
sphinx-inline-tabs
snowballstemmer
sphinx_toolbox
